<div class="zc-form">
  <form (submit)="processZip(zip.value)" #form>
    <div class="field">
      <label for="zip">ZIP Code: </label>
      <input type="text" name="zip" maxlength="5" (keyup)="onKeyUp(zip.value)" #zip>
    </div>
    <button mat-raised-button color="primary">Lookup</button>
  </form>
  <div id="result" *ngIf="!!place">
    <b><u>{{place["place name"]}}, {{place["state"]}}</u></b><br>
    {{place.latitude}}, {{place.longitude}}
    <img src="https://maps.googleapis.com/maps/api/staticmap?key={{key}}&center={{place.latitude}},{{place.longitude}}&zoom=12&size=225x225" alt="">
    
  </div>
</div>