<form (submit)="reverseLookup(cityInput.value, stateInput.value)" #form>
  <div class="field">
    <label for="city">City: </label>
    <input type="text" name="city" #cityInput>
  </div>
  <div class="field">
    <label for="state">State:</label>
    <select name="state" id="state" #stateInput>
      <option *ngFor="let state of states | keyvalue" value="{{state.key}}">{{state.value}}</option>
    </select>
  </div>
  <input type="submit">
</form>

<div *ngIf="!!result" id="results">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>ZIP Code</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let place of result.places">
        <td>{{place["place name"]}}</td>
        <td>{{place["post code"]}}</td>
        <td>{{place.latitude}}</td>
        <td>{{place.longitude}}</td>
      </tr>
    </tbody>
  </table>
</div>